#tablecontainer{
    width : 900px;
    margin : auto;
}

table {
    width : 900px;
    margin-bottom: 10px;
    color: #333333;
}

td{
    border-right: 1px solid #efefef;
    padding: 5px;
}

td:last-child{
    border-right: none;
}

th{
    text-align: left;
    padding-left: 5px;
    background: #efefef;
    border-bottom: 1px solid white;
    border-right: 1px solid #efefef;
}

table img{
    height: 50px;
    width: 60px;
}

.pagination a,.pagination strong{
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
    background: #efefef;
    padding:3px;
    color: #333;
}

.pagination a:hover{
    background: #DDD;
}

.pagination strong{
    cursor: default;
}