@import url("./footer.css");
@import url("./header.css");

html {
	font-family: 'Roboto Condensed', sans-serif;
	margin 0;
	padding 0;
	min-width: 800px;
	min-height: 800px;
}

body {
	background-image: url('../images/BackPattern.png');
    background-color: white;
}

.an-tr-op {
	-webkit-transition : opacity 1s;
	transition : opacity 1s;
	-o-transition : opacity 1s;
	-moz-transition : opacity 1s;
}

.box_container {
	width: auto;
	height: 100%;
	min-height: 400px;
}
