.grid_result_item {
    width: 170px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    color: rgba(255,255,255,.9);
    background: #333;
    box-shadow: 0 0 4px gray;
    -webkit-box-shadow: 0 0 4px gray;
    -moz-box-shadow: 0 0 4px gray;
    -o-box-shadow: 0 0 4px gray;
    cursor: pointer;
}

.grid_result_item a {
    text-decoration: none;
    color: white;
    color: rgba(255,255,255,.9);
}

grid_view_more_info:hover, .grid_result_item a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 8px white;
    -webkit-text-shadow: 0 0 8px white;
    -moz-text-shadow: 0 0 8px white;
    -o-text-shadow: 0 0 8px white;
}

.grid_result_item a:active{
    text-decoration: none;
    color: white;
    color: rgba(255,255,255,.7);
}

.grid_result_item .play-button-container{
    opacity: 1;
}

.view_selectors{
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_result_item .play-button{
    top: 33px;
    left: 68px;
    opacity: 0;
}
.grid_result_item:hover .play-button{
    opacity: 1;
}

.grid_result_item .result_img{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    opacity: 0;
    display : block;
}

.grid_result_item .result_details{
    margin: 0;
    padding: 3px 4px;
    height: 42px;
    position: relative;
    overflow: hidden;
    line-height: 14px;
}

.grid_result_item .play-button-container{
    position: relative;
}

.grid_result_item:hover .grid_view_more_info{
    opacity: 1;
}
.grid_view_more_info{
    position: absolute;
    top: 3px;
    right: 4px;
    float:right;
    cursor:pointer;
    font-size: 14px;
    line-height: 16px;
    background: #333;
    color: #efefef;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    height:16px;
    width: 16px;
    opacity: 0;
    text-align:center;
}