#search_container{
    text-align: center;
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #5B6068;
    background: rgba(50,50,50,0.8);
    border-bottom: 1px solid rgb(80,80,80);
    z-index: 103;
    box-shadow: 0 0 25px gray;
    -webkit-box-shadow: 0 1px 5px gray;
    -moz-box-shadow: 0 1px 5px gray;
    -o-box-shadow: 0 0 1px gray;
}

#search_padding{
    display: inline-block;
    padding: 4px 8px;
    margin: 0px auto;
}

#search_box{
    text-align: left;
    top: 5px;
    width: 350px;
    padding: 6px;
    font-size: 16px;
    color: #666;
    border: 1px solid #5d5d5d;
    outline: none;
    position: relative;
    top: 50%;
}

input#search_box.ui-autocomplete-input:hover {
    border: solid 1px #4b4f57;
    color:#555;
    box-shadow: inset 0px 1px 1px rgba(70,70,70,0.6);
}

input#search_box.ui-autocomplete-input:focus {
    border: solid 1px #4b4f57;
    box-shadow: inset 0px 1px 2px rgba(70,70,70,0.6);
    transition: border .7s;
    -webkit-transition: border .7s;
    -moz-transition: border .7s;
    -o-transition: border .7s;
}

#loading_logo{
    display: inline-block;
    position: fixed;
    margin-left: 8px;
    visibility: hidden;
    vertical-align: top;
    top: 14px;
}

#facebookG{
    width:49px
}

.button_1 {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:1px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    cursor: pointer;
}.button_1:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
     background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
     background-color:#dfdfdf;
 }.button_1:active {
      position:relative;
      top:1px;
  }

.button_1.active {
    -moz-box-shadow:inset 0 0 8px gray;
    -webkit-box-shadow:inset 0 0 8px gray;
    box-shadow:inset 0 0 8px gray;
}

.facebook_blockG{
    background-color:#ededed;
    border:1px solid rgba(100,100,100);
    float:left;
    height:32px;
    margin-left:3px;
    width:11px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#blockG_2{
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#blockG_3{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1}

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1}

}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1}

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1}

}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1}

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1}

}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1}

    100%{
        -o-transform:scale(0.7);
        opacity:0.1}

}

@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1}

    100%{
        transform:scale(0.7);
        opacity:0.1}

}
.ui-tooltip, .arrow:after {
        background: black;
        border: 2px solid white;
}
.ui-tooltip {
        padding: 5px;
        color: white;
        font: 12px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
        max-width: 230px;
        z-index: 105;
}
.arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;
}
.arrow.top {
        top: -16px;
        bottom: auto;
}
.arrow.left {
        left: 20%;
}
.arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        tranform: rotate(45deg);
}
.arrow.top:after {
        bottom: -20px;
        top: auto;
}