#tablecontainer{
    width: 1200px;
    margin : auto;
}

table {
    width : auto;
    margin-bottom: 10px;
    color: #505050;
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#tablecontainer tr:first-child:hover {
    background-color: #ededed;
    color: black;
    z-index: 10px;
}

#tablecontainer tr:nth-child(odd) {
    background-color: #f9f9f9;
    z-index: 10px;
}

#tablecontainer tr:nth-child(n):hover {
    background-color: #B89AFE;
    border-right-color: #B89AFE;
    border-left-color: #B89AFE;
    color: #5A4D78;
    z-index: 10px;
}

#tablecontainer tr:nth-child(even) {
    background-color: #fefefe;
    z-index: 10px;
}

td a {
    text-decoration: none;
    height: 100%;
}

td a:link {
    color:#505050;
}

#tablecontainer tr td a:hover {
    color:white;
    display:block;
}

td a:visited {
    color:#d0d0d0;
}

td:not(first-child) {
    border-right: 0px solid #efefef;
    padding: 5px;
}

td:not(first-child):hover {
    border-right: 0px solid #53A0ED;
    border-left: 0px solid #53A0ED;
    padding: 5px;
}

td:last-child{
    border-right: none;
}

th {
    text-align: center;
    margin-top: 2px;
    padding-left: 0px;
    color:#545454;
    background: #e0e0e0;
    border-top: 1px solid rgba(250,250,250,0.7);
    border-bottom: 1px solid #a0a0a0;
    text-shadow: 0 1px 1px rgba(250,250,250, .85);
    /*border-right: 0px solid #515B66;*/
}

table tbody tr td img.professor-image {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    opacity: 0;
}

table tbody tr td img.course-image {
    height: 80px;
    width: 190px;
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
}
td:nth-child(5){
	text-align:center;
}
.pagination {
    width:10px;
    height:40px;
    position: relative;
    left: 35%;

}

.pagination a,.pagination strong{
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
    background: transparent;
    padding:3px;
    color: #333;
}

.pagination a:hover{
    text-decoration: underline;
}

.pagination strong{
    cursor: default;
}

#coursequest_player_container{
    position: fixed;
    top: 0;
    left: 0;
    margin : 0;
    padding: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    background: black;
    background: rgba(0,0,0,.5);
    text-align: center;
    display: none;
}

#coursequest_player,#vimeoPlayer{
    margin: 10% auto;
    display: inline-block;
}