/*
  This is the Table css. If you would like to make any changes, that's fine.
  But try not to make any additions that can damage other parts of the site.
*/

#tablecontainer{
    width: 1200px;
    margin : auto;
}

table {
    width : auto;
    margin-bottom: 10px;
    color: #505050;
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#tablecontainer tr:first-child:hover {
    background-color: #ededed;
    color: black;
    z-index: 10px;
}


#tablecontainer tr:nth-child(odd) {
    background-color: #f9f9f9;
    z-index: 10px;
}

#tablecontainer tr{
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
}

#tablecontainer tr:nth-child(n):hover {
    background-color: rgba(0,0,0,.5);
    border-right-color: rgba(0,0,0,.5);
    border-left-color: rgba(0,0,0,.5);
    color: #efefef;
    z-index: 10px;
}

#tablecontainer tr:nth-child(even) {
    background-color: #fefefe;
    z-index: 10px;
}

#tablecontainer tr:not(first-child):hover a:visited{
    color: #eeeeee;
}
#tablecontainer tr:not(first-child):hover a{
    color: #efefef;
}

td a {
    text-decoration: none;
    height: 100%;
}

td a:link {
    color:#505050;
}

#tablecontainer tr td a:hover {
    color:white;
    display:block;
}

td a:visited {
    color:#a0a0a0;
}

td:not(first-child) {
    border-right: 0px solid #efefef;
    padding: 5px;
}

td:last-child{
    border-right: none;
}

th {
    text-align: center;
    margin-top: 2px;
    padding-left: 0px;
    color:#545454;
    background: #e0e0e0;
    border-top: 1px solid rgba(250,250,250,0.7);
    border-bottom: 1px solid #a0a0a0;
    text-shadow: 0 1px 1px rgba(250,250,250, .85);
    /*border-right: 0px solid #515B66;*/
}

th.header:hover {
    background: #d0d0d0;
    color: #fdfdfd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

th.header:active {
    background: #d0d0d0;
    color: #fdfdfd;
    text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2), inset -1px 0px 5px rgba(0,0,0,0.2);
}

table tbody tr td img.professor-image {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    opacity: 0;
}

table tbody tr td img.course-image {
    height: 80px;
    width: 160px;
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
}
td:nth-child(5){
	text-align:center;
}
.pagination {
    height:20px;
    position: relative;
    text-align: center;
}

.pagination a,.pagination strong{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
    background: transparent;
    padding:3px;
    color: #333;
}

.pagination a:hover{
    text-decoration: underline;
}

.pagination strong{
    cursor: default;
}

#coursequest_player_container{
    position: fixed;
    top: 0;
    left: 0;
    margin : 0;
    padding: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    background: black;
    background: rgba(0,0,0,.5);
    text-align: center;
    display: none;
}

#coursequest_player,#vimeoPlayer{
    margin: 10% auto;
    display: inline-block;
    padding : 15px;
    background: #555;
    background: rgba(0,0,0,.70);
    border : 1px solid black;
    box-shadow: 0 1px 25px black;
}

.play-button-container{
    height: 0;
    opacity: 0;
}

.play-button{
    background-image: url('../images/playbutton.png');
    height: 34px;
    width: 34px;
    z-index: 1;
    position: relative;
    top: 25px;
    left: 77px;
    cursor: pointer;
}